<!DOCTYPE html>
<html>
  <head>
    <title><%= display_page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <h1>User Details</h1>
      <p>Logged in as <strong><%= current_user.email %></strong></p>
      <p><%= link_to 'Edit profile', edit_user_registration_path, :class => '' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => ''  %></p>
    <% else %>
      <h1>Welcome</h1>
      <p><%= link_to "Sign up", new_user_registration_path, :class => ''  %> |
      <%= link_to "Login", new_user_session_path, :class => ''  %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
